{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "parser": "babylon",
  "semi": false,
  "endOfLine": "auto",
  "jsxSingleQuote": false
}
