@font-face {
    font-family: 'FF Good Pro XCond';
    src: url('FFGoodProXCond-Black.eot');
    src: local('FF Good Pro XCond Black'), local('FFGoodProXCond-Black'),
        url('FFGoodProXCond-Black.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProXCond-Black.woff2') format('woff2'),
        url('FFGoodProXCond-Black.woff') format('woff'),
        url('FFGoodProXCond-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FF Good Pro XCond';
    src: url('FFGoodProXCond-MediumItalic.eot');
    src: local('FF Good Pro XCond Medium Italic'), local('FFGoodProXCond-MediumItalic'),
        url('FFGoodProXCond-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProXCond-MediumItalic.woff2') format('woff2'),
        url('FFGoodProXCond-MediumItalic.woff') format('woff'),
        url('FFGoodProXCond-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'FF Good Pro XCond';
    src: url('FFGoodProXCond-Regular.eot');
    src: local('FF Good Pro XCond'), local('FFGoodProXCond-Regular'),
        url('FFGoodProXCond-Regular.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProXCond-Regular.woff2') format('woff2'),
        url('FFGoodProXCond-Regular.woff') format('woff'),
        url('FFGoodProXCond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FF Good Pro XCond News';
    src: url('FFGoodProXCond-NewsItalic.eot');
    src: local('FF Good Pro XCond News Italic'), local('FFGoodProXCond-NewsItalic'),
        url('FFGoodProXCond-NewsItalic.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProXCond-NewsItalic.woff2') format('woff2'),
        url('FFGoodProXCond-NewsItalic.woff') format('woff'),
        url('FFGoodProXCond-NewsItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FF Good Pro XCond Ultra';
    src: url('FFGoodProXCond-UltraItalic.eot');
    src: local('FF Good Pro XCond Ultra Italic'), local('FFGoodProXCond-UltraItalic'),
        url('FFGoodProXCond-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProXCond-UltraItalic.woff2') format('woff2'),
        url('FFGoodProXCond-UltraItalic.woff') format('woff'),
        url('FFGoodProXCond-UltraItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FF Good Pro XCond';
    src: url('FFGoodProXCond-Light.eot');
    src: local('FF Good Pro XCond Light'), local('FFGoodProXCond-Light'),
        url('FFGoodProXCond-Light.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProXCond-Light.woff2') format('woff2'),
        url('FFGoodProXCond-Light.woff') format('woff'),
        url('FFGoodProXCond-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FF Good Pro XCond Ultra';
    src: url('FFGoodProXCond-Ultra.eot');
    src: local('FF Good Pro XCond Ultra'), local('FFGoodProXCond-Ultra'),
        url('FFGoodProXCond-Ultra.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProXCond-Ultra.woff2') format('woff2'),
        url('FFGoodProXCond-Ultra.woff') format('woff'),
        url('FFGoodProXCond-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FF Good Pro XCond News';
    src: url('FFGoodProXCond-News.eot');
    src: local('FF Good Pro XCond News'), local('FFGoodProXCond-News'),
        url('FFGoodProXCond-News.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProXCond-News.woff2') format('woff2'),
        url('FFGoodProXCond-News.woff') format('woff'),
        url('FFGoodProXCond-News.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FF Good Pro XCond';
    src: url('FFGoodProXCond-BoldItalic.eot');
    src: local('FF Good Pro XCond Bold Italic'), local('FFGoodProXCond-BoldItalic'),
        url('FFGoodProXCond-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProXCond-BoldItalic.woff2') format('woff2'),
        url('FFGoodProXCond-BoldItalic.woff') format('woff'),
        url('FFGoodProXCond-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'FF Good Pro XCond';
    src: url('FFGoodProXCond-Bold.eot');
    src: local('FF Good Pro XCond Bold'), local('FFGoodProXCond-Bold'),
        url('FFGoodProXCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProXCond-Bold.woff2') format('woff2'),
        url('FFGoodProXCond-Bold.woff') format('woff'),
        url('FFGoodProXCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FF Good Pro XCond';
    src: url('FFGoodProXCond-Italic.eot');
    src: local('FF Good Pro XCond Italic'), local('FFGoodProXCond-Italic'),
        url('FFGoodProXCond-Italic.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProXCond-Italic.woff2') format('woff2'),
        url('FFGoodProXCond-Italic.woff') format('woff'),
        url('FFGoodProXCond-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FF Good Pro XCond';
    src: url('FFGoodProXCond-Medium.eot');
    src: local('FF Good Pro XCond Medium'), local('FFGoodProXCond-Medium'),
        url('FFGoodProXCond-Medium.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProXCond-Medium.woff2') format('woff2'),
        url('FFGoodProXCond-Medium.woff') format('woff'),
        url('FFGoodProXCond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FF Good Pro XCond';
    src: url('FFGoodProXCond-LightItalic.eot');
    src: local('FF Good Pro XCond Light Italic'), local('FFGoodProXCond-LightItalic'),
        url('FFGoodProXCond-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProXCond-LightItalic.woff2') format('woff2'),
        url('FFGoodProXCond-LightItalic.woff') format('woff'),
        url('FFGoodProXCond-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'FF Good Pro XCond';
    src: url('FFGoodProXCond-BlackItalic.eot');
    src: local('FF Good Pro XCond Black Italic'), local('FFGoodProXCond-BlackItalic'),
        url('FFGoodProXCond-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProXCond-BlackItalic.woff2') format('woff2'),
        url('FFGoodProXCond-BlackItalic.woff') format('woff'),
        url('FFGoodProXCond-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

