
.hero {
    width: 100%;
    border-radius: 25px;
    padding: 20px;
    margin-top: 30px;
}
.hero img {
    width: 600px;
}
.hero h1 {
    width: 240px;
    color: var(--light);
    font-size: 60px;
}
.hero-param {
    display: none;
}

#typerText {
    background-color: white;
    width: max-content;
    border-radius: 5px;
    padding: 3px 10px;
    position: relative;
    bottom: -180px;
    left: 300px;
    font-size: 20px;
    font-weight: bold;
    color: var(--itpark);
    text-align: center;
    margin-top: 20px;
    margin-bottom: -20px;
}

.bg-bubbles {
    z-index: -1;
    position: relative;
    top: -160px;
    left: 70%;
    margin-bottom: -100px;
}

.scroll-btn .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 12px;
}
.scroll-btn button {
    transition: all 0.4s;
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 transparent;
}
.scroll-btn button:hover {
    box-shadow: 0 0 0 3px var(--itpark);
}

.fz {
    color: var(--itpark);
    width: max-content;
}
.fz__bubbles {
    transform: rotate(150deg);
    z-index: -1;
    position: absolute;
    margin-top: -100px;
    margin-left: -100px;
}
.fz__megaphone {
    position: absolute;
    margin-left: -100px;
    margin-top: 250px;
}
.chat__message {
    width: 555px;
    padding: 23px 33px;
    background: #3C3B3B;
    color: var(--light);
    box-shadow: 0 24px 32px -24px rgba(15, 15, 15, 0.5);
    border-radius: 24px 24px 24px 0;
}

/*Categories*/
#categories {
    margin-top: 100px;
}
.residence__icon img {
    width: 300px;
    margin-left: -30px;
    margin-right: -20px;
}
.infrastructure__icon img {
    margin-left: -10px;
    margin-right: -40px;
    width: 290px !important;
}

.splide_slider {
    min-width: 1500px;
}
.sliders {
    width: 100%;
    overflow-x: hidden;
}
.splide__slide {
    height: 157px;
    max-width: max-content;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--light);
    opacity: 0.7;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    /*transition: all 0.4s;*/
}

.splide__slide img {
    height: 100%;
}
.new {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: white !important;
}
.new:hover .new__info{
    box-shadow: 0 0 25px rgba(256, 256, 256, 0.1);
}
.new img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.new hr {
    background: #E1E1E1;
}
.new__info {
    transition: all 0.3s;
    border: 1px solid rgba(121, 121, 121, 0.2);
    padding: 15px;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.1);
    border-radius: 0 0 10px 10px;
}