body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: none;
  background-color: black;
}

/* debugger controls styles */
.dg {
  margin-right: 0 !important;
  min-width: 320px !important;
}

.dg .c>input {
  height: 20px;
}

#cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.35);
  pointer-events: none;
}