<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ITPARK</title>
    <meta name="description" content="ITPARK Uzbekistan">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Itpark, Startups, Residents, Bpo, IT-center, IT-education, Outsourcing, Robotics">
    <link rel="shortcut icon" href="https://it-park.uz/../favicons/favicon.ico" type="image/png">

    <!-- Bootstrap  files-->
    <link rel="stylesheet" href="../../../styles/bootstrap.min.css">
    <script src="../../../scripts/bootstrap.min.js"></script>
    <!-- global css -->
    <link rel="stylesheet" href="../../../styles/fonts.css">
    <link rel="stylesheet" href="../../../styles/styles.css">
    <link rel="stylesheet" href="../../../styles/responsive.css">
    <!-- Splide -->
    <script defer src="../../../scripts/splide.min.js"></script>
    <link rel="stylesheet" href="../../../styles/splide.min.css">
    <!-- global js -->
    <script defer src="../../../scripts/scroller.js"></script>
    <!-- local js -->
    <script defer src="about.js"></script>
    <!-- local css -->
    <link rel="stylesheet" href="../styles/itpark.css">
    <link rel="stylesheet" href="../styles/itpark_responsive.css">
    <link rel="stylesheet" href="styles/about.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <div class="navbar-brand d-flex">
            <a href="../../../index.html"><img src="../img/planet.png" alt="itpark planet"></a>
            <a href="../index.html" class="px-2 fw-bold text-dark nav-link">IT Park</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#acts">Документы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team">Наша команда</a>
                </li>
                <li class="nav-item px-3 lang-switch">
                    <div class="dropdown">
                        <a class="btn btn-outline-success rounded-pill dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Ru
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Русский</a></li>
                            <li><a class="dropdown-item" href="#">O'zbekcha</a></li>
                            <li><a class="dropdown-item" href="#">English</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="container">
    <h1 class="text-center text-white my-5">О нас</h1>
    <div class="about-main d-flex justify-content-center align-items-center">
        <img src="img/itpark-plate.png" alt="it-park image">
        <div class="about-main__content">
            <h2 class="fw-bold">IT Park сегодня</h2>
            <p>24 июля 2019 года в Ташкенте распахнул свои двери первый в Республике Узбекистан IT Park. За короткий промежуток времени IT Park уже принес первые плоды в виде 28 новых стартапов, создания десятка проектов в сфере информационных технологий, а также тренингов, воркшопов и митапов для стимулирования у молодежи нашей страны интереса к данной сфере и развития компьютерной грамотности у населения.</p>
            <p>Что же такое IT Park? <br> IT Park – это комплекс объектов, зданий и сооружений, где:</p>
            <ul>
                <li>перспективные стартап-проекты могут получить помощь при запуске и выведении на рынок; </li>
                <li>IT-компании получат льготы и преференции, став резидентами экстерриториальной свободной экономической зоны, в том числе за счет интеграции с научно-образовательными организациями. </li>
                <li>активные и талантливые люди в сфере IT получат реальный шанс для трансформации своих идей в настоящие бизнес-проекты за счет бухгалтерской, юридической, маркетинговой и образовательной поддержки.</li>
                <li>молодёжь, желающая обучиться IT-специальностям, получит качественное, а главное - доступное образование. </li>
            </ul>
        </div>
    </div>
</section>

<div class="cone">
    <div class="cone__inner">
        <div class="cone__inner__inner"></div>
    </div>
</div>

<section id="categories">
    <div class="container">
        <div class="category techvibe">
            <div class="category__info">
                <small class="category__num career__num">01</small>
                <h3 class="fw-bold">История создания IT Park</h3>
                <p>В ходе первого визита Президента Республики Узбекистан Шавката Мирзиёева в Республику Индию, который прошел с 30 сентября по 2 октября 2018 года, узбекская и индийская Стороны договорились расширить сотрудничество в IT-области. Узбекская сторона выразила заинтересованность в создании информационно-технологического парка в Узбекистане в сотрудничестве с индийскими информационно-технологическими компаниями на основе их передового опыта по разработке программного обеспечения, ускорению стартапов. Таким образом, можно отметить, что IT Park был создан по инициативе Президента Республики Узбекистан для улучшения стартап-экосистемы и стартап-проектов и их реализации в нашей стране.</p>
            </div>
            <div class="category__icon techvibe__icon">
                <img src="img/collab.png" alt="techvibe icon">
            </div>
        </div>
        <div class="category startups">
            <div class="category__info">
                <small class="category__num startups__num">02</small>
                <p>20 ноября 2019 года Президент Республики Узбекистан Шавкат Мирзиёев посетил IT Park и заложил символический первый камень строительства нового этапа. «Устойчивость нашей экономики, качественная и эффективная работа всех сфер, удобство жизни населения зависят от информационных технологий. Поэтому следует создавать еще более широкие возможности для этой сферы, необходимую инфраструктуру, стимулировать специалистов, воспитывать способную молодежь», - сказал Шавкат Мирзиёев.</p>
            </div>
            <div class="category__icon">
                <img src="img/sh-mirziyaev.png" alt="startups icon">
            </div>
        </div>
    </div>
</section>

<section id="acts" class="container">
    <h2 class="fw-bold text-center py-5">Нормативно-правовые акты</h2>
    <div class="splide-acts">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <div class="glass acts__item d-flex flex-column justify-content-between">
                        <div>
                            <small class="category__num career__num mb-3">01</small>
                            <p>Указ Президента Республики Узбекистан от 30.06.2017г. №УП-5099
                                «О мерах по коренному улучшению условий для развития отрасли информационных технологий в республике»</p>
                        </div>
                        <div class="d-flex justify-content-center py-3">
                            <button class="btn-itpark">Подробнее</button>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="glass acts__item d-flex flex-column justify-content-between">
                        <div>
                            <small class="category__num career__num mb-3">01</small>
                            <p>Указ Президента Республики Узбекистан от 30.06.2017г. №УП-5099
                                «О мерах по коренному улучшению условий для развития отрасли информационных технологий в республике»</p>
                        </div>
                        <div class="d-flex justify-content-center py-3">
                            <button class="btn-itpark">Подробнее</button>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="glass acts__item d-flex flex-column justify-content-between">
                        <div>
                            <small class="category__num career__num mb-3">01</small>
                            <p>Постановление Кабинета Министров от 30.10.2020 №672
                                «О внесении изменений и дополнений в постановление кабинета министров от 15 июля 2019 года № 589 «о мерах по организации деятельности технологического парка программных продуктов и информационных технологий», а также о признании утратившими силу некоторых решений правительства»</p>
                        </div>
                        <div class="d-flex justify-content-center py-3">
                            <button class="btn-itpark">Подробнее</button>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="glass acts__item d-flex flex-column justify-content-between">
                        <div>
                            <small class="category__num career__num mb-3">01</small>
                            <p>Постановление Кабинета Министров от 30.10.2020 №672
                                «О внесении изменений и дополнений в постановление кабинета министров от 15 июля 2019 года № 589 «о мерах по организации деятельности технологического парка программных продуктов и информационных технологий», а также о признании утратившими силу некоторых решений правительства»</p>
                        </div>
                        <div class="d-flex justify-content-center py-3">
                            <button class="btn-itpark">Подробнее</button>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="glass acts__item d-flex flex-column justify-content-between">
                        <div>
                            <small class="category__num career__num mb-3">01</small>
                            <p>Постановление Кабинета Министров от 30.10.2020 №672
                                «О внесении изменений и дополнений в постановление кабинета министров от 15 июля 2019 года № 589 «о мерах по организации деятельности технологического парка программных продуктов и информационных технологий», а также о признании утратившими силу некоторых решений правительства»</p>
                        </div>
                        <div class="d-flex justify-content-center py-3">
                            <button class="btn-itpark">Подробнее</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="container mt-4" id="mission">
        <div class="row">
            <div class="col-lg-4 p-2">
                <div class="d-flex justify-content-center aim">
                    <img src="img/aim.png" alt="aim image">
                </div>
                <div class="glass acts__item">
                    <small class="category__num career__num mb-3">01</small>
                    <h3 class="fw-bold">Наша миссия</h3>
                    <p>Мы работаем, чтобы IT-предприниматели Узбекистана успешно реализовывались на глобальном рынке, становились гордостью нашей Родины и всего мира</p>
                </div>
            </div>
            <div class="col-lg-4 p-2">
                <div class="d-flex justify-content-center rocket">
                    <img src="img/rocket.png" alt="rocket image">
                </div>
                <div class="glass acts__item">
                    <small class="category__num career__num mb-3">02</small>
                    <h3 class="fw-bold">Наши ценности</h3>
                    <ul>
                        <li>Польза для общества</li>
                        <li>Реализация потенциала</li>
                        <li>Работа в команде</li>
                        <li>Постоянное развитие</li>
                        <li>Честность и доверие</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 p-2">
                <div class="d-flex justify-content-center globe">
                    <img src="img/globe.png" alt="globe image">
                </div>
                <div class="glass acts__item">
                    <small class="category__num career__num mb-3">03</small>
                    <h3 class="fw-bold">Наше видение</h3>
                    <p>Мы видим мир, в котором IT Park создал уникальную платформу, где каждый IT-предприниматель Узбекистана максимально релизовывает свой талант и потенциал.
                        <br>
                        Благодаря этому разрушатся границы и увеличится возможность для сотрудничества со всем миром.
                        <br>
                        Узбекистан превратится в высокоразвитую и процветающую страну, одну из ведущих IT-держав мира, в которой живет богатый и счастливый народ. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="team" class="container">
    <h2 class="fw-bold text-center py-5 mt-5">Наша команда</h2>
    <div class="splide-members">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <div class="member-col">
                        <div class="glass-hover team-member text-center">
                            <img src="img/fz-member.png" alt="F.Z. Ibragimov">
                            <p class="fw-bold mt-3 mb-0">Farkhod Ibragimov</p>
                            <p class="text-muted"><small>CEO</small></p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="member-col">
                        <div class="glass-hover team-member text-center">
                            <img src="img/abdulakhad-member.png" alt="A. Kuchkarov">
                            <p class="fw-bold mt-3 mb-0">Abdulakhad Kuchkarov</p>
                            <p class="text-muted"><small>Co-Founder</small></p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="member-col">
                        <div class="glass-hover team-member text-center">
                            <img src="img/sardor-member.png" alt="S. Akhmedov">
                            <p class="fw-bold mt-3 mb-0">Sardor Akhmedov</p>
                            <p class="text-muted"><small>Co-Founder</small></p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="member-col">
                        <div class="glass-hover team-member text-center">
                            <img src="https://it-park.uz/storage/images/teams/normal/z4i9DjhXly53ifEpIlE39EQUe9mOoKQ4SgWEdjQ6.jpeg" alt="A. Ergasheva">
                            <p class="fw-bold mt-3 mb-0">Amalya Ergasheva</p>
                            <p class="text-muted"><small>Co-Founder</small></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 footer__contacts">
                <div class="footer__logo">
                    <img src="../img/icons/itpark-logo-white-solid.png" alt="it-park logo">
                </div>
                <div class="footer__contacts__info mt-4">
                    <p>
                        <a href="#">9, Ziyolilar str., M.Ulugbek district, Tashkent city, 100170</a>
                    </p>
                    <p>
                        <a href="mailto:itpark@gmail.com">itpark@gmail.com</a>
                    </p>
                    <p>
                        <a href="tel:+998712091199">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                            </svg>
                            +998 71 209 11 99
                        </a>
                    </p>

                </div>

            </div>
            <div class="col-lg-4">
                <div class="footer__menu">
                    <ul>
                        <li><a href="#" class="hover-a">Стартапы</a></li>
                        <li><a href="#" class="hover-a">Резиденты</a></li>
                        <li><a href="#" class="hover-a">Карьера</a></li>
                        <li><a href="#" class="hover-a">Инфраструктура</a></li>
                        <li><a href="#" class="hover-a">Магазин</a></li>
                    </ul>
                    <ul>
                        <li><a href="#" class="hover-a">Новости</a></li>
                        <li><a href="#" class="hover-a">Новости резидентов</a></li>
                        <li><a href="#" class="hover-a">О нас</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="footer__links">
                    <div>
                        <p class="fw-bold"><small>Мы в соц сетях</small></p>
                        <ul>
                            <li><a href="#" class="footer__links__item">
                                <img src="../img/icons/telegram-icon-white-solid.png" alt="telegram icon">
                            </a></li>
                            <li><a href="#" class="footer__links__item">
                                <img src="../img/icons/instagram-icon-white.png" alt="instagram icon">
                            </a></li>
                            <li><a href="#" class="footer__links__item">
                                <img class="facebook" src="../img/icons/facebook-icon-white-solid.png" alt="facebook icon">
                            </a></li>
                            <li><a href="#" class="footer__links__item">
                                <img src="../img/icons/youtube-icon-white-solid.png" alt="youtube icon">
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer__copyright">
            <p>
                <small>© 2021 IT PARK. All rights reserved.</small>
            </p>
        </div>
    </div>
</footer>
</body>
</html>