<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ITPARK</title>
    <meta name="description" content="ITPARK Uzbekistan">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Itpark, Startups, Residents, Bpo, IT-center, IT-education, Outsourcing, Robotics">
    <link rel="shortcut icon" href="https://it-park.uz/../favicons/favicon.ico" type="image/png">

    <!-- Bootstrap  files-->
    <link rel="stylesheet" href="../../../styles/bootstrap.min.css">
    <script src="../../../scripts/bootstrap.min.js"></script>
    <!-- global css -->
    <link rel="stylesheet" href="../../../styles/fonts.css">
    <link rel="stylesheet" href="../../../styles/styles.css">
    <link rel="stylesheet" href="../../../styles/responsive.css">
    <!-- global js -->
    <script defer src="../../../scripts/scroller.js"></script>
    <!-- local css -->
    <link rel="stylesheet" href="../styles/itpark.css">
    <link rel="stylesheet" href="styles/news.css">
    <link rel="stylesheet" href="../styles/itpark_responsive.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand d-flex" href="../index.html">
            <img src="../img/planet.png" alt="itpark planet">
            <a href="../index.html" class="px-2 fw-bold text-dark nav-link">IT Park</a>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item px-3 lang-switch">
                    <div class="dropdown">
                        <a class="btn btn-outline-success rounded-pill dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Ru
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Русский</a></li>
                            <li><a class="dropdown-item" href="#">O'zbekcha</a></li>
                            <li><a class="dropdown-item" href="#">English</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="news" class="pb-5">
    <div class="container new-container">
        <div class="back pt-4">
            <a href="news.html">< Назад</a>
        </div>
        <h2 class="py-1 mb-1 mt-2 fw-bold">Резиденту IT Park «Genesis Innovation» исполнилось 3 года!</h2>
        <p class="mb-1 text-end"><small>2021-11-26</small></p>
        <img class="w-100" src="https://it-park.uz/storage/images/news/normal/caeBMUPgD4RVs3r4pyDdQvpCkKKYE7viknCz3PKM.jpg" alt="itpark news">
        <div class="news-content">
            <p>25 ноября текущего года в центральном управлении Aloqabank прошла встреча между представителями Epam Systems и руководством банка с целью детального знакомства с банковским и финансовым сектором Узбекистана, а также анализа потребностей и возможностей местного рынка и обсуждения вопросов дальнейшего сотрудничества.</p>
            <img class="w-100" src="https://it-park.uz/storage/images/news/normal/caeBMUPgD4RVs3r4pyDdQvpCkKKYE7viknCz3PKM.jpg" alt="itpark news">

            <p>25 ноября текущего года в центральном управлении Aloqabank прошла встреча между представителями Epam Systems и руководством банка с целью детального знакомства с банковским и финансовым сектором Узбекистана, а также анализа потребностей и возможностей местного рынка и обсуждения вопросов дальнейшего сотрудничества.</p>
            <img class="w-100" src="https://it-park.uz/storage/images/news/normal/caeBMUPgD4RVs3r4pyDdQvpCkKKYE7viknCz3PKM.jpg" alt="itpark news">

            <p>Было отмечено, что автоматизация банковско-финансовых процессов требует качественного анализа данных, интеграции с государственными центрами услуг и разработки единого программного обеспечения.

                Напоминаем, компания Epam Systems успешно реализовала проекты по оптимизации данных процессов в США, России и Беларуси путем предоставления различных бизнес-решений.

                Epam Systems также обучает молодежь и регулярно набирает талантливых программистов к себе в команду для реализации своих проектов в разных уголках мира. На сегодняшний день компания работает с сервисами по осуществлению денежных переводов Золотая Корона и Western Union.

                По инициативе Epam Systems в России совместно со Сбербанком был запущен проект по онлайн-регистрации бизнеса, что позволило значительно повысить эффективность молодых предпринимателей на пути к построению крупной компании. Упрощение процессов регистрации предприятия позволяет государству сэкономить средства и время, что позитивно отразилось на экономике Российской Федерации.

                Помимо этого, большим успехом пользовались проекты по созданию онлайн-кошелька и автоматизации способов оплаты с помощью QR-кодов, которыми можно пользоваться в магазинах, ресторанах и кафе.

                В частности, руководители Epam Systems проявили заинтересованность в сотрудничестве с Aloqabank для дальнейшей реализации проектов по автоматизации банковско-финансовых процессов.

                Сотрудничество между Aloqabank и Epam Systems Узбекистан позволит развить финансово-банковский сектор, упростить порядки получения кредита, финансирования проектов, денежных переводов и ряда других услуг, осуществляемых банками Узбекистана. </p>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 footer__contacts">
                <div class="footer__logo">
                    <img src="../img/icons/itpark-logo-white-solid.png" alt="it-park logo">
                </div>
                <div class="footer__contacts__info mt-4">
                    <p>
                        <a href="#">9, Ziyolilar str., M.Ulugbek district, Tashkent city, 100170</a>
                    </p>
                    <p>
                        <a href="mailto:itpark@gmail.com">itpark@gmail.com</a>
                    </p>
                    <p>
                        <a href="tel:+998712091199">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                            </svg>
                            +998 71 209 11 99
                        </a>
                    </p>

                </div>

            </div>
            <div class="col-lg-4">
                <div class="footer__menu">
                    <ul>
                        <li><a href="#" class="hover-a">Стартапы</a></li>
                        <li><a href="#" class="hover-a">Резиденты</a></li>
                        <li><a href="#" class="hover-a">Карьера</a></li>
                        <li><a href="#" class="hover-a">Инфраструктура</a></li>
                        <li><a href="#" class="hover-a">Магазин</a></li>
                    </ul>
                    <ul>
                        <li><a href="#" class="hover-a">Новости</a></li>
                        <li><a href="#" class="hover-a">Новости резидентов</a></li>
                        <li><a href="#" class="hover-a">О нас</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="footer__links">
                    <div>
                        <p class="fw-bold"><small>Мы в соц сетях</small></p>
                        <ul>
                            <li><a href="#" class="footer__links__item">
                                <img src="../img/icons/telegram-icon-white-solid.png" alt="telegram icon">
                            </a></li>
                            <li><a href="#" class="footer__links__item">
                                <img src="../img/icons/instagram-icon-white.png" alt="instagram icon">
                            </a></li>
                            <li><a href="#" class="footer__links__item">
                                <img class="facebook" src="../img/icons/facebook-icon-white-solid.png" alt="facebook icon">
                            </a></li>
                            <li><a href="#" class="footer__links__item">
                                <img src="../img/icons/youtube-icon-white-solid.png" alt="youtube icon">
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer__copyright">
            <p>
                <small>© 2021 IT PARK. All rights reserved.</small>
            </p>
        </div>
    </div>
</footer>
</body>
</html>