<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ITPARK</title>
    <meta name="description" content="ITPARK Uzbekistan">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Itpark, Startups, Residents, Bpo, IT-center, IT-education, Outsourcing, Robotics">
    <link rel="shortcut icon" href="https://it-park.uz/../favicons/favicon.ico" type="image/png">

    <!-- Bootstrap  files-->
    <link rel="stylesheet" href="../../styles/bootstrap.min.css">
    <script src="../../scripts/bootstrap.min.js"></script>
    <!-- global css -->
    <link rel="stylesheet" href="../../styles/fonts.css">
    <link rel="stylesheet" href="../../styles/styles.css">
    <link rel="stylesheet" href="../../styles/responsive.css">
    <!-- Splide -->
    <script defer src="../../scripts/splide.min.js"></script>
    <script defer src="../../scripts/splide-extension-auto-scroll.js"></script>
    <link rel="stylesheet" href="../../styles/splide.min.css">
    <!-- local css -->
    <link rel="stylesheet" href="styles/itpark.css">
    <link rel="stylesheet" href="styles/itpark_responsive.css">
    <!-- local script -->
    <script defer src="scripts/typeWriter.js"></script>
    <script defer src="scripts/itpark.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand d-flex" href="#">
                <img src="img/planet.png" alt="itpark planet">
                <a href="#" class="px-2 fw-bold text-dark nav-link">IT Park</a>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-black" aria-current="page" href="#categories">Направления</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="#projects">Проекты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="#news">Новости</a>
                    </li>
                    <li class="nav-item px-3 lang-switch">
                        <div class="dropdown">
                            <a class="btn btn-outline-success rounded-pill dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Ru
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Русский</a></li>
                                <li><a class="dropdown-item" href="#">O'zbekcha</a></li>
                                <li><a class="dropdown-item" href="#">English</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="initial">
        <div class="container">

            <div class="hero glass d-flex align-items-center justify-content-around">
                <h1 class="fw-bold">We are <br> good at:</h1>
                <div>
                    <p class="hero-param" hero-param>Startups</p>
                    <p class="hero-param" hero-param>Incubation</p>
                    <p class="hero-param" hero-param>IT Education</p>
                    <p class="hero-param" hero-param>Acceleration</p>
                    <p class="hero-param" hero-param>Cybersport</p>
                    <p class="hero-param" hero-param>Acceleration</p>
                    <p id="typerText"></p>
                    <img src="img/nout.png" alt="laptop">
                </div>
            </div>
            <div class="scroll-btn w-100 d-flex flex-column justify-content-center align-items-center mt-2 mb-5">
                <span class="dot"></span>
                <button>
                    <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5 13.3999L11.4924 14.4075L12.5 15.4152L13.5076 14.4075L12.5 13.3999ZM0.0923631 3.00753L11.4924 14.4075L13.5076 12.3923L2.10762 0.992273L0.0923631 3.00753ZM13.5076 14.4075L24.9076 3.00753L22.8924 0.992272L11.4924 12.3923L13.5076 14.4075Z" fill="white"/>
                    </svg>
                </button>
            </div>
            <div class="bg-bubbles">
                <img src="img/bubbles.png" alt="bubbles">
            </div>
        </div>
    </section>
    <div class="cone">
        <div class="cone__inner">
            <div class="cone__inner__inner"></div>
        </div>
    </div>

    <section id="ceo">
        <div class="container">
            <div class="w-100 d-flex flex-wrap justify-content-around">
                <div class="fz">
                    <img src="img/bubbles.png" alt="bubbles" class="fz__bubbles">
                    <img src="img/fz.png" alt="F.Z. Ibragimov">
                    <img src="img/megaphone.png" alt="megaphone icon" class="fz__megaphone">
                    <br>
                    <h4 class="text-center">Фарход Ибрагимов</h4>
                    <div class="w-100 d-flex justify-content-center align-items-center">
                        <a target="_blank" href="https://t.me/itpark_teamlead">
                            <button class="fz__contact btn-itpark">Связаться</button>
                        </a>
                    </div>
                </div>
                <div class="chat">
                    <div class="chat__message mt-5">
                        <p>Сфера IT является наиболее коротким и эффективным путем для развития экономики и экспорта, а IT Park является локомотивом этой отрасли. Уникальность IT-сферы - это человеческий капитал и благодаря людям Узбекистан станет технологическим государством!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="categories">
        <div class="container">
            <div class="glass-hover category techvibe">
                <div class="category__info">
                    <small class="category__num techvibe__num">01</small>
                    <h3 class="fw-bold">Хочешь опубликовать новость?</h3>
                    <p>Специально для новостей </p>
                    <a href=""><button class="btn-itpark">Подробнее</button></a>
                </div>
                <div class="category__icon techvibe__icon">
                    <img src="img/techvibe.png" alt="techvibe icon">
                </div>
            </div>
            <div class="glass-hover category startups">
                <div class="category__info">
                    <small class="category__num startups__num">02</small>
                    <h3 class="fw-bold">Хочешь создать стартап?</h3>
                    <p>Мы ищем стартап-проекты в сфере IT, направленные на мировой рынок. Если вы подходите под критерий, описанный выше, то присоединяйтесь к нам для прохождения трехмесячной программы, чтобы получить навыки, необходимые предпринимателю для создания и управления своей компанией.</p>
                    <a href=""><button class="btn-itpark">Подробнее</button></a>
                </div>
                <div class="category__icon">
                    <img src="img/startups.png" alt="startups icon">
                </div>
            </div>
            <div class="glass-hover category residence">
                <div class="category__info">
                    <small class="category__num residence__num">03</small>
                    <h3 class="fw-bold">Хочешь стать резидентом?</h3>
                    <p>Резидентами IT Park могут стать юридические лица, зарегистрированные на территории Республики Узбекистан, которые после получения данного статуса будут освобождены от уплаты налогов, а также получат некоторые преференции.</p>
                    <a href=""><button class="btn-itpark">Подробнее</button></a>
                </div>
                <div class="category__icon residence__icon">
                    <img src="img/residence.png" alt="residence icon">
                </div>
            </div>
            <div class="cone cone-right">
                <div class="cone__inner">
                    <div class="cone__inner__inner"></div>
                </div>
            </div>
            <div class="glass-hover category career">
                <div class="category__info">
                    <small class="category__num career__num">04</small>
                    <h3 class="fw-bold">Карьера в IT Park</h3>
                    <p>Мы в поисках амбициозных людей с уверенными коммуникативными навыками, которые разделяют наши ценности!</p>
                    <a href=""><button class="btn-itpark">Подробнее</button></a>
                </div>
                <div class="category__icon career__icon">
                    <img src="img/career.png" alt="career icon">
                </div>
            </div>
            <div class="glass-hover category infrastructure">
                <div class="category__info">
                    <small class="category__num infrastructure__num">05</small>
                    <h3 class="fw-bold">Инфраструктура</h3>
                    <p>К 2022 году у IT Park появятся свои филиалы во всех регионах страны, а на сегодняшний день имеется уже 7 филиалов в Самарканде, Бухаре, Навои, Андижане, Джизаке, Фергане и Гулистане. Сам же проект IT Park в городе Ташкент будет расширен и охватит почти 7 гектаров земли, где будут собраны самые крупные организации в сфере ИКТ.</p>
                    <a href=""><button class="btn-itpark">Подробнее</button></a>
                </div>
                <div class="category__icon infrastructure__icon">
                    <img src="img/infrastructure.png" alt="infrastructure icon">
                </div>
            </div>
            <div class="glass-hover category shop">
                <div class="category__info">
                    <small class="category__num shop__num">06</small>
                    <h3 class="fw-bold">Магазин</h3>
                    <p>К 2022 году у IT Park появятся свои филиалы в 6 регионах: Самарканде, Бухаре, Намангане, Хорезме, Гулистане и Республике Каракалпакстан. Сам же проект IT Park в городе Ташкент будет расширен и охватит почти 7 гектар земли.</p>
                    <a href=""><button class="btn-itpark">Подробнее</button></a>
                </div>
                <div class="category__icon shop__icon">
                    <img src="img/shop.png" alt="shop icon">
                </div>
            </div>
        </div>
    </section>

    <section id="projects" class="mb-5">
        <div class="container">
            <hr>
            <h2 class="py-4 fw-bold text-center">ПРОЕКТЫ</h2>
        </div>
        <div class="sliders">
            <div class="splide splide_slider">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <img src="img/nout.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="news" class="pb-5">
        <div class="container">
            <hr>
            <h2 class="py-4 fw-bold text-center">НОВОСТИ</h2>
            <div class="d-flex w-100 news-row">
                <div class="new col-lg-3 p-3">
                    <img src="https://it-park.uz/storage/images/news/medium/qnjLADiNOVuaxAljh2y3aPSUsGJvPvZm6aiDV4QK.jpg" alt="itpark news">
                    <div class="new__info">
                        <p>Резиденту IT Park «Genesis Innovation» исполнилось 3 года!</p>
                        <hr class="w-75 mx-auto">
                        <small>2021-09-11</small>
                    </div>
                </div>
                <div class="new col-lg-3 p-3">
                    <img src="https://it-park.uz/storage/images/news/medium/qnjLADiNOVuaxAljh2y3aPSUsGJvPvZm6aiDV4QK.jpg" alt="itpark news">
                    <div class="new__info">
                        <p>Резиденту IT Park «Genesis Innovation» исполнилось 3 года!</p>
                        <hr class="w-75 mx-auto">
                        <small>2021-09-11</small>
                    </div>
                </div>
                <div class="new col-lg-3 p-3">
                    <img src="https://it-park.uz/storage/images/news/medium/qnjLADiNOVuaxAljh2y3aPSUsGJvPvZm6aiDV4QK.jpg" alt="itpark news">
                    <div class="new__info">
                        <p>Резиденту IT Park «Genesis Innovation» исполнилось 3 года!</p>
                        <hr class="w-75 mx-auto">
                        <small>2021-09-11</small>
                    </div>
                </div>
                <div class="new col-lg-3 p-3">
                    <img src="https://it-park.uz/storage/images/news/medium/qnjLADiNOVuaxAljh2y3aPSUsGJvPvZm6aiDV4QK.jpg" alt="itpark news">
                    <div class="new__info">
                        <p>Резиденту IT Park «Genesis Innovation» исполнилось 3 года!</p>
                        <hr class="w-75 mx-auto">
                        <small>2021-09-11</small>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>