h1 {
    font-family: Metroline, sans-serif !important;
    font-weight: 700;
    font-size: 200px;
}
p, ul {
    color: #cdd2d5;
}

.about-main {
    padding: 30px;
}

.acts__item {
    padding: 25px;
    height: 100%;
    background: linear-gradient(92.53deg, #23262F 35.35%, rgba(35, 38, 47, 0.7) 140.39%);;
}
.acts__item .category__num {
    opacity: 1;
    font-weight: bold;
}
#mission > .row > div {
    height: max-content;
}
.aim {
    margin-bottom: -140px;
}
.rocket {
    margin-bottom: -60px;
}
.globe {
    margin-bottom: -100px;
}
.member-col {
    padding: 10px;
}
.team-member {
    overflow: hidden;
    border-radius: 20px;
    padding-bottom: 10px;
}
.team-member > img {
    width: 100%;
}