* {
    font-family: Gilroy, sans-serif !important;
}
.back a{
    color: grey !important;
    text-decoration: none;
}

.search input {
    width: 400px;
    background-color: transparent;
    border: 1px solid white;
    border-right: none;
    padding: 3px 10px;
    border-radius: 10px 0 0 10px;
    outline: none;
    color: white;
}
.search button {
    padding: 3px 10px 3px 0;
    border-radius: 0 10px 10px 0;
    border: 1px solid white;
    border-left: none;
    background-color: transparent;
    color: white;
}
.search button img {
    height: 16px;
}
.search input:focus, .search input:focus + button {
    border-color: var(--itpark);
}
.page-arrows button {
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
}
.page-arrows svg {
    margin: 4px;
}
/* New */
.new-container {
    max-width: 700px !important;
}

.new-container img {
    border-radius: 12px;
    margin: 10px 0;
}
.news-content {
    font-size: 16px !important;
}