<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ITPARK Startups</title>
    <meta name="description" content="ITPARK Uzbekistan Startups">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Itpark, Startups, Residents, Bpo, IT-center, IT-education, Outsourcing, Robotics">
    <link rel="shortcut icon" href="https://it-park.uz/../favicons/favicon.ico" type="image/png">

    <!-- Bootstrap  files-->
    <link rel="stylesheet" href="../../styles/bootstrap.min.css">
    <script src="../../scripts/bootstrap.min.js"></script>
    <!-- global css -->
    <link rel="stylesheet" href="../../styles/fonts.css">
    <link rel="stylesheet" href="../../styles/styles.css">
    <link rel="stylesheet" href="../../styles/responsive.css">
    <!-- Splide -->
    <script defer src="../../scripts/splide.min.js"></script>
    <script defer src="../../scripts/splide-extension-auto-scroll.js"></script>
    <link rel="stylesheet" href="../../styles/splide.min.css">
    <!-- global js -->
    <script defer src="../../scripts/scroller.js"></script>
    <!-- local files -->
    <script defer src="startups.js"></script>
    <link rel="stylesheet" href="startups.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <div class="navbar-brand d-flex">
            <a href="../../index.html"><img src="img/planet.png" alt="itpark planet"></a>
            <a href="#" class="px-2 fw-bold text-dark nav-link">Стартапы</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#programs">Инкубация и Акселерация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Проекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team">Команда</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacts">Контакты</a>
                </li>
                <li class="nav-item px-3 lang-switch">
                    <div class="dropdown">
                        <a class="btn btn-outline-success rounded-pill dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Ru
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Русский</a></li>
                            <li><a class="dropdown-item" href="#">O'zbekcha</a></li>
                            <li><a class="dropdown-item" href="#">English</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="container">
    <h1 class="text-center text-white py-5 my-5">Стартапы</h1>
    <div class="category career row">
        <div class="category__icon col-lg-4 career__icon">
            <img src="img/rocket.png" alt="career icon">
        </div>
        <div class="category__info col-lg-8">
            <h3 class="fw-bold">Об отделе стартапов</h3>
            <p>Отдел стартапов семьи IT Парк – это команда молодых, энергичных, креативных людей, которые сплотившись в одну команду выполняют единную миссию по поддержке стартап проектов от стадии идеи до стадии продаж. На данный момент нами реализованы 3 волны программы инкубации и акселерации от IT Парка, 2 волны инкубатора GameDev Goethe, инкубационная программа в рамках программы Tumaris.Tech и проект EdTech – Hub. Также нашей командой проведены масштабные конкурсы такие как MGovAward, World Data AI Challenge, Entrepreneurship World Cup и многие другие, общий призовой фонд проведённых конкурсов приближается к 1 миллиарду сумов </p>
        </div>
    </div>
</section>

<div class="cone">
    <div class="cone__inner">
        <div class="cone__inner__inner"></div>
    </div>
</div>

<section class="container mt-5 py-5" id="programs">
    <h2 class="fw-bold text-center">Программы</h2>
    <div class="row mt-5 incubation">
        <div class="col-md-7">
            <p><small class="category__num career__num main-num">01</small></p>
            <h3 class="fw-bold">Программа инкубации</h3>
            <p>Основоположницей любого стартап-проекта является идея, возникшая в голове энтузиаста. Идея — вот с чем приходят в программу инкубации. Ты приходишь со своей крутой идеей, а программа инкубации взращивает ее до конечного продукта, готового к «потреблению».
            </p>
            <p>
            Программа рассчитана на 3 месяца и обеспечивает твой стартап-проект следующими бонусами:
            </p>
            <p class="mt-5"><a href="#"><button class="btn btn-itpark">РЕГИСТРАЦИЯ</button></a></p>
        </div>
        <div class="bg">
            <img src="img/idea-icon.svg" alt="idea icon">
        </div>
        <div class="col-md-5">
            <ol>
                <li>
                    <p class="mb-1"><small class="category__num mb-0">01</small></p>
                    <p>Комфортабельный офис</p>
                </li>
                <li>
                    <p class="mb-1"><small class="category__num residence__num mb-0">02</small></p>
                    <p>Работа с профессиональными менторами</p>
                </li>
                <li>
                    <p class="mb-1"><small class="category__num career__num mb-0">03</small></p>
                    <p>Юридическая консультация</p>
                </li>
                <li>
                    <p class="mb-1"><small class="category__num mb-0">04</small></p>
                    <p>Бухгалтерская поддержка</p>
                </li>
                <li>
                    <p class="mb-1"><small class="category__num career__num mb-0">05</small></p>
                    <p>Активный нетворкинг с успешными предпринимателями</p>
                </li>
                <li>
                    <p class="mb-1"><small class="category__num mb-0">06</small></p>
                    <p>Неограниченный доступ к бизнес-мероприятиям</p>
                </li>
            </ol>
        </div>
    </div>
    <hr class="my-5">
    <div class="row mt-5 acceleration">
        <div class="col-md-7">
            <p><small class="category__num career__num main-num">02</small></p>
            <h3 class="fw-bold">Программа акселерации</h3>
            <p>У тебя есть прототип твоей идеи, собрана команда специалистов и тебе лишь не хватает рывка к заветным целям - получению финансирования и трансформации проекта в настоящий бизнес. Если это так, то тебе однозначно нужно в программу акселерации.
            </p>
            <p>
                Программа предоставляет уникальный доступ к активному развитию твоего стартап-проекта через получение не только бизнес-экспертизы от самых крутых менторов - профессионалов своего дела, но и возможность:
            </p>
        </div>
        <div class="bg">
            <img src="img/rocket-icon.svg" alt="idea icon">
        </div>
        <div class="col-md-5">
            <ol>
                <li>
                    <p class="mb-1"><small class="category__num mb-0">01</small></p>
                    <p>Оформить интеллектуальную собственность на продукт</p>
                </li>
                <li>
                    <p class="mb-1"><small class="category__num residence__num mb-0">02</small></p>
                    <p>Получить юридическую консультацию</p>
                </li>
                <li>
                    <p class="mb-1"><small class="category__num career__num mb-0">03</small></p>
                    <p>Доступа на инвестиционную площадку</p>
                </li>
                <li>
                    <p class="mb-1"><small class="category__num mb-0">04</small></p>
                    <p>Получить маркетинговую поддержку</p>
                </li>
                <li>
                    <p class="mb-1"><small class="category__num career__num mb-0">05</small></p>
                    <p>Развития широкой партнерской сети</p>
                </li>
            </ol>
        </div>
    </div>
</section>
<section id="projects" class="mb-5">
    <div class="container">
        <hr>
        <h2 class="py-4 fw-bold text-center">ПРОЕКТЫ</h2>
    </div>
    <div class="sliders">
        <div class="splide splide_slider">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <img src="img/nout.png" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="mentors" class="container py-5">
    <div class="w-100 row justify-content-around">
        <div class="col-lg-4 mr-5 p-4 glass-hover">
            <img src="img/handshake.png" alt="handshake image png" class="w-100">
            <h4 class="mt-4 fw-bold">Наши менторы</h4>
            <p>Нашими менторами являются крутые предприниматели или специалисты, которые разбираются в задачах и проблемах стартапа исходя из собственного пережитого опыта. Они всегда готовы делиться своим опытом и связями. Менторы работают с командами на безвозмездной основе или за миниатюрную, «символическую» долю.</p>
        </div>
        <div class="col-lg-7 video-part">
            <video controls autoplay loop muted>
                <source src="video/videoplayback.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</section>

<section id="team" class="container">
    <h2 class="fw-bold text-center py-5 mt-5">Наша команда</h2>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-6 member-col">
            <div class="glass-hover team-member text-center">
                <img src="img/fz-member.png" alt="F.Z. Ibragimov">
                <p class="fw-bold mt-3 mb-0">Farkhod Ibragimov</p>
                <p class="text-muted"><small>CEO</small></p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 member-col">
            <div class="glass-hover team-member text-center">
                <img src="img/abdulakhad-member.png" alt="A. Kuchkarov">
                <p class="fw-bold mt-3 mb-0">Abdulakhad Kuchkarov</p>
                <p class="text-muted"><small>Co-Founder</small></p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 member-col">
            <div class="glass-hover team-member text-center">
                <img src="img/sardor-member.png" alt="S. Akhmedov">
                <p class="fw-bold mt-3 mb-0">Sardor Akhmedov</p>
                <p class="text-muted"><small>Co-Founder</small></p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 member-col">
            <div class="glass-hover team-member text-center">
                <img src="img/amalya-member.png" alt="A. Ergasheva">
                <p class="fw-bold mt-3 mb-0">Amalya Ergasheva</p>
                <p class="text-muted"><small>Co-Founder</small></p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 member-col">
            <div class="glass-hover team-member text-center">
                <img src="img/fz-member.png" alt="F.Z. Ibragimov">
                <p class="fw-bold mt-3 mb-0">Farkhod Ibragimov</p>
                <p class="text-muted"><small>CEO</small></p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 member-col">
            <div class="glass-hover team-member text-center">
                <img src="img/abdulakhad-member.png" alt="A. Kuchkarov">
                <p class="fw-bold mt-3 mb-0">Abdulakhad Kuchkarov</p>
                <p class="text-muted"><small>Co-Founder</small></p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 member-col">
            <div class="glass-hover team-member text-center">
                <img src="img/sardor-member.png" alt="S. Akhmedov">
                <p class="fw-bold mt-3 mb-0">Sardor Akhmedov</p>
                <p class="text-muted"><small>Co-Founder</small></p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 member-col">
            <div class="glass-hover team-member text-center">
                <img src="img/amalya-member.png" alt="A. Ergasheva">
                <p class="fw-bold mt-3 mb-0">Amalya Ergasheva</p>
                <p class="text-muted"><small>Co-Founder</small></p>
            </div>
        </div>
    </div>
</section>

<section id="contacts" class="container py-5">
    <h2 class="text-center fw-bold py-5">Наши контакты</h2>
    <div class="row justify-content-around">
        <div class="col-lg-7">
            <h5 class="my-3 fw-bold">Адресс</h5>
            <div class="filtered-map">
                <a href="https://g.page/IT-Park-UZ?share">
                    <img src="img/itpark-map.png" alt="itpark on map" class="w-100">
                </a>
            </div>
        </div>
        <div class="col-lg-3 d-flex flex-column justify-content-center">
            <div class="emails mt-5">
                <p class=""><small class="category__num mb-0">01</small></p>
                <h4 class="fw-bold mb-4">Почта</h4>
                <p><a class="text-white d-flex justify-content-between" href="mailto:university@it-park.uz">
                    university@it-park.uz
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="32" height="32" rx="16" fill="#3B71FE"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0909 11.2652C18.4968 10.8906 19.1294 10.9159 19.504 11.3217L22.7348 14.8217C23.0884 15.2047 23.0884 15.7952 22.7348 16.1782L19.504 19.6783C19.1294 20.0841 18.4968 20.1094 18.091 19.7348C17.6851 19.3602 17.6598 18.7276 18.0344 18.3217L19.716 16.5L10 16.5C9.44771 16.5 9 16.0523 9 15.5C9 14.9477 9.44771 14.5 10 14.5L19.716 14.5L18.0344 12.6783C17.6598 12.2725 17.6851 11.6398 18.0909 11.2652Z" fill="#FCFCFD"/>
                    </svg>
                </a></p>
                <p><a class="text-white d-flex justify-content-between" href="info@itpu.uz">
                    info@itpu.uz
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="32" height="32" rx="16" fill="#3B71FE"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0909 11.2652C18.4968 10.8906 19.1294 10.9159 19.504 11.3217L22.7348 14.8217C23.0884 15.2047 23.0884 15.7952 22.7348 16.1782L19.504 19.6783C19.1294 20.0841 18.4968 20.1094 18.091 19.7348C17.6851 19.3602 17.6598 18.7276 18.0344 18.3217L19.716 16.5L10 16.5C9.44771 16.5 9 16.0523 9 15.5C9 14.9477 9.44771 14.5 10 14.5L19.716 14.5L18.0344 12.6783C17.6598 12.2725 17.6851 11.6398 18.0909 11.2652Z" fill="#FCFCFD"/>
                    </svg>
                </a></p>
            </div>
            <div class="numbers mt-3">
                <p class=""><small class="category__num mb-0">02</small></p>
                <h4 class="fw-bold mb-4">Телефоны</h4>
                <p><a class="text-white d-flex justify-content-between" href="tel:+998712223344">+998 71 222 33 44</a></p>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->

</body>
</html>