h1 {
    font-size: 200px;
    font-family: Metroline, sans-serif;
    text-transform: uppercase;
}
h2 {
    text-transform: uppercase;
}
p {
    color: #93979F;
}

ol {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
ol li {
    margin-bottom: 20px;
}
.bg {
    position: absolute;
    z-index: -1;
    margin-left: -300px;
    display: flex;
    justify-content: center;
}
.bg img {
    height: 400px;
}
.main-num {
    opacity: 1;
}
.splide_slider {
    min-width: 1500px;
}
.sliders {
    width: 100%;
    overflow-x: hidden;
}
.splide__slide {
    height: 157px;
    max-width: max-content;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--light);
    opacity: 0.7;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    /*transition: all 0.4s;*/
}

.splide__slide img {
    height: 100%;
}
.video-part {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(262.46deg, #171717 0.71%, rgba(23, 23, 23, 0.5) 100%);
    border-radius: 20px;
}
video {
    border-radius: 12px;
    width: 100%;
}

.team-member {
    overflow: hidden;
    border-radius: 20px;
    padding-bottom: 10px;
}
.team-member > img {
    width: 100%;
    margin: -3px;
    border-radius: 20px;
}

.filtered-map {
    filter: invert(100%) hue-rotate(300deg);
}

@media (max-width: 767px) {
    h1 {
        font-size: 90px;
    }
}
@media (max-width: 540px) {
    p {
        font-size: 14px;
    }
}