@media (max-width: 992px) {
    h1 {
        font-size: 5rem;
    }
    .benefits-main {
        flex-wrap: wrap;
        justify-content: center;
    }
    .benefits-main > div {
        width: max-content;
        margin-bottom: 2rem;
        border: none !important;
    }
}
@media (max-width: 767px) {
    .resident {
        flex-wrap: wrap;
    }
    ul {
        padding-left: 0 !important;
    }
}
@media (max-width: 540px) {
    h1 {
        font-size: 3rem;
    }
    p, li, table {
        font-size: 14px;
    }
    td {
        min-width: 50px !important;
        padding: 20px 10px !important;
    }
    #benefits .category {
        flex-direction: column-reverse;
    }
    #benefits .category > .category__info {
        padding: 10px;
        width: 100%;
    }
    .ordered-steps {
        display: none;
    }
    #signUp ol {
        padding-left: 10px !important;
        list-style-type: decimal;
        counter-reset: item;
    }
    #signUp ol li:before {
        content: counter(item) ". ";
        counter-increment: item;
        font-size: 22px;
        margin-left: -22px;
        color: var(--itpark);
    }
    #signUp ol li{
        margin-left: 0 !important;
        display: block;
    }
    .category__icon > img {
        width: 150px;
    }
    .benefit-stat__inner > .circle {
        width: 70px;
        min-width: 70px;
        height: 70px;
        font-size: 20px;
    }
}