@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-Regular.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-Bold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-Light.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-Medium.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-SemiBold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-ExtraBold.ttf');
    font-weight: 900;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-LightItalic.ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-MediumItalic.ttf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-SemiBoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-ExtraBoldItalic.ttf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-BoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-LightItalic.ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-MediumItalic.ttf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-SemiBoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-ExtraBoldItalic.ttf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-BoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-LightItalic.ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-MediumItalic.ttf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-SemiBoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy-ExtraBoldItalic.ttf');
    font-weight: 900;
    font-style: italic;
}