:root {
    --itpark: #7DBA28;
    --itpark-semi: rgba(148, 255, 0, 0.5);
    --dark: #1E1F25;
    --light: white;
    --deep-dark: #141416;

    overflow-x: hidden;
}

body {
    font-family: Gilroy, sans-serif !important;
    overflow-x: hidden;
    padding-top: 70px;
    width: 100vw;
}
nav {
    font-weight: 600;
    background: linear-gradient(126.6deg, #1E1F25 28.69%, rgba(30, 31, 37, 0.5) 100%);
    backdrop-filter: blur(140px);
    position: fixed !important;
    z-index: 666;
    left: 0;
    top: 0;
    width: 100vw;
}
.nav-link, .hover-a {
    color: var(--light) !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
}
.nav-link:after, .hover-a:after {
    transition: all 0.3s ease-in-out;
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: -20px;
    margin-top: 18px;
    opacity: 0;
    content: "";
    background-color: var(--itpark);
}
.nav-link:hover, .hover-a:hover {
    color: var(--itpark) !important;
}
.nav-link:hover:after, .hover-a:hover:after {
    margin-top: 7px;
    margin-bottom: -9px;
    opacity: 1;
}
.scroller-up-arrow.hidden {
    opacity: 0;
    bottom: -100px;
}
.scroller-up-arrow {
    transition: all 0.3s;
    opacity: 1;
    background-color: var(--dark);
    cursor: pointer;
    position: fixed;
    bottom: 10vw;
    right: 10vw;
    border: 2px solid white;
    padding: 8px 10px 12px 10px;
    border-radius: 30px;
    box-shadow: 0 0 0 transparent;
}
.scroller-up-arrow:hover {
    border-color: var(--itpark);
    box-shadow: 0 0 3px 0 var(--itpark);
}
.text-black{
    color: #3C3B3B !important;
}
.glass {
    background: linear-gradient(126.6deg, rgba(218, 218, 218, 0.12) 28.69%, rgba(0, 0, 0, 0) 100%);
    backdrop-filter: blur(140px);
    border-radius: 20px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    box-shadow: 0 8px 32px 0 rgba(128, 128, 128, 0.03);
    /* Note: backdrop-filter has minimal browser support */
}
.glass-hover {
    transition: all 0.1s;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}
.glass-hover:hover {
    background-size: 100% 100%;
    background: linear-gradient(126.6deg, rgba(218, 218, 218, 0.04) 28.69%, rgba(0, 0, 0, 0) 100%);
    border-color: grey;
    box-shadow: 0 8px 32px 0 rgba(128, 128, 128, 0.03);
    backdrop-filter: blur( 140px );
    -webkit-backdrop-filter: blur( 140px );
    border-radius: 20px;
    /* Note: backdrop-filter has minimal browser support */
}
.btn-outline-success {
    color: white !important;
    font-weight: bold;
    border-color: var(--itpark) !important;
}
.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success.dropdown-toggle.show,
.btn-outline-success:active{
    color: white !important;
    background-color: var(--itpark) !important;
}
.dropdown-menu {
    border-radius: 12px;
    padding: 10px;
}
.dropdown-item {
    border-radius: 7px;
}
.btn-itpark {
    transition: all 0.3s ease-in-out;
    background-color: var(--itpark-semi);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    font-weight: bold;
    padding: 5px 25px;
    box-shadow: 0 0 0 transparent;
}
.btn-itpark:hover {
    background-color: var(--itpark);
    color: white !important;
    box-shadow: 0 0 0 4px var(--itpark);
    /*color: white !important;*/
}

footer {
    padding: 30px;
    background-color: var(--deep-dark);
}